@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Aclonica', sans-serif;
}
form {
  font-family: 'Adamina', serif;
}
tr{
  font-family: 'Adamina', serif;

}